Sessions/AgentforceVibes/Session-012_AgentforceVibes_EngineeringYourCodingAgent_MohithShrivastava/force-app/main/default/flows/Create_Account_And_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Screen flow to create an Account and related Contact from a single screen with up to 5 input fields</description>
    <environments>Default</environments>
    <interviewLabel>Create Account and Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Account and Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>

    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Input_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Input_Account_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Input_Contact_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Input_Contact_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Input_Contact_Email</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <screens>
        <name>Error_Screen</name>
        <label>Error</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Try Again</backButtonLabel>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
        <fields>
            <name>Error_Message</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;&lt;b&gt;An error occurred&lt;/b&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Input_Screen</name>
        <label>Create Account and Contact</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <fields>
            <name>Input_Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Account_Type</name>
            <choiceReferences>Choice_Customer</choiceReferences>
            <choiceReferences>Choice_Partner</choiceReferences>
            <choiceReferences>Choice_Prospect</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Contact_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Contact_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Contact_Email</name>
            <dataType>String</dataType>
            <fieldText>Contact Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Success_Screen</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 133, 0);&quot;&gt;&lt;b&gt;Success!&lt;/b&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Account &quot;{!Input_Account_Name}&quot; and Contact &quot;{!Input_Contact_First_Name} {!Input_Contact_Last_Name}&quot; have been created successfully.&lt;/p&gt;</fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <choices>
        <name>Choice_Customer</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </choices>

    <choices>
        <name>Choice_Partner</name>
        <choiceText>Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner</stringValue>
        </value>
    </choices>

    <choices>
        <name>Choice_Prospect</name>
        <choiceText>Prospect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospect</stringValue>
        </value>
    </choices>
</Flow>